<section class="container about page-section">
    <h1 class="page-title bebas-neue-regular">Even voorstellen</h1>

    <article class="about__card">
        <p class="about__text page-text"><strong>Wij zijn Bailey en Mayra de Roo.</strong><br>
            Met veel enthousiasme hebben wij samen de stap gezet om voor onszelf te beginnen. We wilden iets doen waar
            we écht plezier uit halen én waar we anderen blij mee kunnen maken.</p>

        <p class="about__text page-text">Daarom hebben we ons gespecialiseerd in de professionele reiniging van meubels en
            auto-interieurs. Zelf vinden we het heerlijk om alles schoon en fris te hebben - zowel in huis als in de
            auto - en dat gevoel geven we graag door aan anderen.</p>
    </article>

    <article class="about__card">
        <h2 class="about__subtitle section-title bebas-neue-regular">Wat wij voor u kunnen betekenen</h2>
        <p class="about__text page-text">Heeft u last van een vlek in uw bank, stoel of auto-interieur? Of wilt u simpelweg
            weer een frisse, hygiënische uitstraling in huis of voertuig? Dan helpen wij u graag.</p>

        <p class="about__text page-text">Met onze professionele apparatuur en milieuvriendelijke reinigingsmiddelen zorgen we
            ervoor dat uw meubels en interieur er weer schoon, fris en verzorgd uitzien!</p>

        <a class="about__cta bebas-neue-regular" routerLink="/contact">Maak nu een afspraak.</a>
    </article>
</section>