.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 0px;
    border-radius: 12px 12px 0 0;
    background-color: var(--color-overlay-gray-40);
}

h2 {
    color: var(--color-primary)
}

.footer__column {
    flex: 1;
}

.footer__text {
    font-size: 18px;
    margin: 0;
}

.footer__link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
}

.footer__link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 991px) {
    .footer__content {
        flex-direction: column;
        gap: 20px;
    }

    .footer__heading {
        font-size: 38px;
    }

    .footer__subheading {
        font-size: 30px;
    }

    .footer {
        margin-top: 40px;
    }
}
