<header class="container">
    <nav class="header-nav">
        <button class="header-nav__item bebas-neue-regular" routerLink="/home" routerLinkActive="is-active"
            [routerLinkActiveOptions]="{ exact: true }">HOME.</button>
        <button class="header-nav__item bebas-neue-regular" routerLink="/services" routerLinkActive="is-active">DIENSTEN.</button>
        <button class="header-nav__item bebas-neue-regular" routerLink="/about" routerLinkActive="is-active">OVER ONS.</button>
        <button class="header-nav__item bebas-neue-regular" routerLink="/contact" routerLinkActive="is-active">CONTACT.</button>
    </nav>
    <img class="header__logo" src="roo-cleaning-logo.jpg" alt="Roo Cleaning Logo">
</header>