.header-container {
    margin-top: 20px;
    margin-bottom: 56px;
    padding: 20px;
}

.sub-title {
    color: var(--color-text);
    margin-bottom: 20px;
    font-size: 25px;
}

.services {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 3px solid var(--color-primary);
    background-color: var(--color-overlay-white-20);
    box-shadow: 0 4px 30px var(--color-shadow-10);
    backdrop-filter: blur(5px);
    overflow: hidden; // Zorgt dat de afbeelding niet buiten de border-radius valt
}

.service img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.service-content {
    padding: 20px;
    flex: 1;
}

.button-box {
    padding: 0 20px 20px;
}

@media only screen and (max-width: 991px) {
    .services {
        flex-direction: column;
    }
    .service {
        width: 100%;
    }
}