<div class="services-container container">
    <div class="service-section">
        <div class="service-header">
            <h2 class="bebas-neue-regular">{{ service()?.title }}</h2>
            <p class="service-description">{{ service()?.description }}</p>
        </div>

        <div class="packages-grid">
            @for (pkg of service()?.packages; track pkg.name) {
            <app-package [package]="pkg" [isSelected]="isPackageSelected(service()?.id + '/' + pkg.id)" (selectedPackage)="selectPackage(service()?.id + '/' + $event)"></app-package>
            }
        </div>

        <div class="service-footer-info">
            <div class="info-items">
                @if (service()?.importantNotes?.minimumOrder) {
                    <div class="info-item">
                        <strong>Min. bestelling:</strong> {{ service()?.importantNotes?.minimumOrder }}
                    </div>
                }
                <div class="info-item">
                    <strong>Droogtijd:</strong> {{ service()?.importantNotes?.dryingTime }}
                </div>
                <div class="info-item">
                    <strong>Info:</strong> {{ service()?.importantNotes?.resultInfo }}
                </div>
            </div>
            <div class="button">
                <button class="btn-pill btn-small" [disabled]="!isButtonEnabled()" (click)="goToContact()">Maak nu een afspraak.</button>
            </div>
        </div>
    </div>
</div>